@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de gestión</h1>
    <img class="display-4" width="300" height="300" src="~/css/img/management.png" alt="Management image" />
</div>
